<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
                    <h3>Location</h3>
                    <br>
                    <h4>Maui, Hawaii</h4>
                </div>
                <div class="footer-col col-md-6">
                    <h3>Connect</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://facebook.com/AlgorithmHub" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://github.com/AlgorithmHub" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    Copyright © AlgorithmHub, Inc. 2015
                </div>
                <div class="col-lg-6">
                    Website by <a href="http://algoritics.com">algoritics.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>
