
/* HEADER SECTION */
#h {
    /* background: url(../img/header.jpg) no-repeat center top; */
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 600px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: #333;
    background: url(../img/bgmath.jpg) repeat;
}

#h .logo {
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 90px;
  font-size: 56px;
}

#h #logo {
  height: 250px;
}

#h h1 {
  color: white;
  font-size: 40px; }

#h h2 {
  color: white;
  font-size: 25px; }

#h p {
  color: white;
}


@media(min-width:768px) {

  #h h1 {
    font-size: 60px;
  }

  #h h2 {
    font-size: 35px;
  }

}

#h .continue {
    font-size: 30px;
    margin-top: 60px;
}

#h .sign-up {
    margin-top: 90px;
}

/* CALL TO ACTION */
#cta {
    background: $grey-color-light;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}


#cta h2 { text-align: center; color: white}

#cta h3 { text-align: center; color: white}


/* GREY SECTION */

#g {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f7f8fa;
}


#testimonial {
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 450px;
    background: #2f2f2f;
    color: white;
}

#testimonial p {
    font-size: 16px;
    color: #ccc;
}

#testimonial hr {
    border: solid 1px #ccc;
    width: 80px;
}

.btn-jumbo {
    padding: 10px 16px;
    font-size: 30px;
    line-height: 1.3333333;
    border-radius: 3px;
}


/* Tutorial */

.tutorial-list {
  margin-top: 40px;
  counter-reset: tutorialstep;
  display: none;
}

.tutorial-list.active {
  display: block;
}

.tutorial-list > li {
  position: relative;
  background-color: #fff;
  margin: 0 0 70px 0px;
  padding: 40px 0 60px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  z-index: 1;

  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.tutorial-list .image-right {
  padding-right: 440px;
}

.tutorial-list .image-right p {
  margin-left: 30px;
  margin-right: 30px;
}

.tutorial-list .question:after {
  content: "?";
}

.tutorial-list > li:not(.question):after {
  counter-increment: tutorialstep;
  content: counter(tutorialstep);
}

.tutorial-list > li:after {
  width: 58px;
  height: 58px;
  line-height: 58px;
  background-color: #327fc7;
  border-radius: 200px;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: -15px;
  top: -15px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  z-index: 100;
}

ol, ul {
    list-style: none;
}

#new-user-step-1 {
    background: #fff url(/img/step1@2x.png) right 0 no-repeat;
    background-size: 446px 344px;
}

#new-user-step-2 {
    background: #fff url(/img/step2@2x.png) right 0 no-repeat;
    background-size: 446px 344px;
}

.animate-in {
  transition: all 0.7s ease-in-out;
}
